body{
    background-image: url("../images/The\ Office\ Logo\ and\ 5\ Main\ Characters.png");
    background-repeat: no-repeat;
    background-position:center;
    
}

.jumbotron{
    background-color:black;
    opacity: 1%;
    color:white;
    margin-top: 40%;
   
    
}

.imagesOrGifs{
    padding-top: 5%;
    margin-left: 35%;
}

button.btn.btn-primary{
    
    margin-left: 47%;
}
